@keyframes setNormalMargin {
  0% {
    margin-top: 100vh;
  }
  100% {
    margin-top: 0;
  }
}

footer {
  padding-top: 3px;
  bottom: 0;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: rgb(93, 39, 246);
  color: white;
  animation: setNormalMargin 2s;
}

.mail-icon {
  filter: invert(1);
  height: 22px;
  margin-right: 5px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.last {
  width: 90% !important;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 20px;
}
