.NgxEditor__Wrapper {
  width: 96.5%;
  margin: 20px auto auto;

  .menu {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  ::ng-deep .NgxEditor__ImageWrapper {
    max-width: 100% !important;
  }
}

h1 {
  text-align: left !important;
  margin: 20px 0;
}

h2 {
  text-align: left;
  margin: 20px 0;
}

.save {
  padding: 10px 20px;
  background-color: #2cbb2c;
  color: white;
  border: 2px solid #3bbd3b;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  transition: all 0.3s;
  margin: 20px auto 50px;
}

.save:hover {
  background-color: #47a847;
}

.save:disabled {
  background-color: #ccc;
  border: 2px solid #aaa;
  cursor: not-allowed;
}

// input field
.input-container {
  position: relative;
  margin: 50px auto;
  width: 60vw;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}
