<form [formGroup]="form">
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu class="menu" [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
    <ngx-editor [editor]="editor" formControlName="editorContent"></ngx-editor>
  </div>
</form>

<div class="input-container">
  <input type="text" id="input" required="" [(ngModel)]="nutritionGuide.commit_message">
  <label for="input" class="label">Commit Message</label>
  <div class="underline"></div>
</div>

<button class="save"
        (click)="saveChanges()"
        [disabled]="nutritionGuide.commit_message === ''">
  Speichern
</button>
