h1 {
  color: rgb(7, 0, 28);
  margin-top: 50px;
  font-size: 44px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  color: rgb(7, 0, 28);
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.container {
  background-color: white;
  max-width: 90vw;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 auto 50px;

  ::ng-deep img {
    max-width: 100% !important;
  }
}
