<app-header></app-header>
<router-outlet></router-outlet>
<footer
  style="position: fixed; bottom: 0; width: 100%; text-align: center; background-color: rgb(93, 39, 246); color: white">
  <p>&copy; 2025 Easynutrition</p>

  <div class="footer-container">
    <img class="mail-icon" src="assets/mail.png" alt="Mail Icon">
    <a (click)="sendMail()">info&#64;easynutrition.ch</a>
  </div>
  <p class="last">von Yannik Leminhos, Edon Malushaj & Samuel Koch <span style="font-size: 22px; font-weight: 300"> | </span> Entwickelt von Edon Malushaj</p>
</footer>
