.mail-icon {
  filter: invert(1);
  height: 22px;
  margin-right: 5px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.last {
  width: 90% !important;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 20px;
}
