<div class="container">
  <h1>Änderungshistorie</h1>

  @for (change of changeHistory; track change.id) {
    <p (click)="openCommit(change)">
    <span>
      <span class="commit-message">
      <b style="font-weight: 500">Commit Message:</b>
        {{ change.commit_message }}
      </span><br/>
      <b>Datum:</b> {{ change.created_at | date: 'dd.MM.YYYY HH:SS' }}<br/>
      <b>Editor:</b> {{ change.editor }}<br/>
    </span>
      <span class="open-commit">
      >
    </span>
    </p>
  }
</div>
